.carousel-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    margin: 20px auto;
}

.carousel-track {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.carousel-track img {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 100%; */
    height: 100%;
    width: auto;
    object-fit: cover;
    opacity: 0;
    transition: opacity 0.5s ease;
    /* 淡入淡出效果 */
}
.carousel-track img.active {
    opacity: 1;
}

.des-carousel-track{
    position: relative;
    height: 100%;
}
.des-carousel-track p span{
    font-size: 30px;
    margin-bottom: 10px;
}
.des-carousel-track p{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* height: 100%; */
    width: 80%;
    opacity: 0;
    transition: opacity 0.5s ease;

    font-size: 20px;
}

.des-carousel-track p.active{
    opacity: 1;
    z-index: 10;
}



/* 切换按钮样式 */
.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

/* 指示器样式 */
.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.indicator {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: rgba(99, 96, 96, 0.5);
    cursor: pointer;
}

.indicator.active {
    background: rgb(54, 54, 54);
    /* 高亮当前指示器 */
}
